div.input_group{
  width:100%;
  height: 600px;
  position: relative;
  top: 50px;
}
.CodeMirror{
  height: 600px;
}
.toolbar{
  background-color: #f4f4f4;
  border-color: rgba(0,0,0,.1);
  height: 30px;
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
  border: 1px solid;
  border-radius: 4px;
  margin: 3px 3px 10px 3px;
}
div.output_group{
  width:100%;
  height: 300px;
  position: relative;
  top: 50px;
}
textarea.output {
  height:500px;
  width:80%;
  padding: 6px 6px 6px 6px;
}

form#submit_input{
  width: 100%;
  float: left;
}

#table_container > .tab_body {
    display: none;
}

#table_container > .tab_body.current {
    display: initial;
}

#tab_container > .tab_button {
    display: inline-block;
    user-select: none;
    border: 1px solid black;
    padding: 10px;
}

#tab_container > .tab_button.current {
    font-weight: bold;
}
